.skill_btn {
  padding: 10px 20px;
  border: none;
  font-size: 17px;
  color: #fff;
  border-radius: 10px;
  border: 2px solid #ceb7ff;
  box-sizing: border-box;
  letter-spacing: 4px;
  font-weight: 700;
  text-transform: uppercase;
  background: transparent;

  transition: 0.5s;
  transition-property: box-shadow;
  min-height: 5rem;

  color: transparent;
  text-shadow: 0 0 0 #fff;
  cursor: pointer;
}

.skill_btn:hover {
  box-shadow: 0 10px 20px rgba(206, 183, 255, 0.8);
}
